#!/bin/bash

# Scipion Containers launcher script for end users and system administrators
# Authors:
#   Mikel Iceta @ CNB-CSIC - miceta@cnb.csic.es
#   Lola Sánchez @ CNB-CSIC - md.sanchez@cnb.csic.es
#

#### USER CONFIGURABLE VARIABLES
###
###

# Available flavours are: base, spa
# You can build multiple containers by adding them separated by a space
# For example, CONTAINER_FLAVOURS="base spa"
# Remember that you will need base for any container
CONTAINER_FLAVOURS="base spa"
VERSION=$(date +%Y.%m.%d)

### CLUSTER SPECIFIC
# You can add your cluster-specific commands here
#PREPARE_ENV="module load XXX"
PREPARE_SCREEN="xhost +"
CLUSTER_PREP="$PREPARE_ENV $PREPARE_SCREEN"
$CLUSTER_PREP

### Where the SIF images are stored
SCIPION_IMAGE_DIR="./build"
mkdir -p "$SCIPION_IMAGE_DIR"

### Apptainer directories configuration
# Define where Apptainer stores data:
#  - APPTAINER_TMPDIR: directory for temporary files created during image builds
export APPTAINER_TMPDIR="/path/to/your/apptainer/tmp"

# Create directories if they don’t exist
mkdir -p "$APPTAINER_TMPDIR" "$SCIPION_IMAGE_DIR"

###
###
#### END OF USER CONFIGURABLE VARIABLES

echo "Preparing to build Scipion Apptainer image locally..."
echo "Getting latest version from GitHub..."
git pull
echo "System will build $CONTAINER_FLAVOURS"

for F in $CONTAINER_FLAVOURS; do
    TARGET="apptainer-$F"
    echo "Compiling $TARGET image..."
    echo "Result will be in $SCIPION_IMAGE_DIR/$TARGET.sif"
    OUT_SIF="$SCIPION_IMAGE_DIR/$TARGET.sif"
    DEF_FILE="apptainer/$TARGET.def"
    APPTAINERENV_DISPLAY=$DISPLAY apptainer build --nv --force --tmpdir "$APPTAINER_TMPDIR" "$OUT_SIF" "$DEF_FILE"
    # Create a version file for each flavour
    echo "$VERSION" > "$SCIPION_IMAGE_DIR/$TARGET-version"
done
echo "Finished."